body{
    background-color:#EEE0C9;
    font-family: 'Lato', sans-serif;
    margin: 0;
    line-height: 1.6;
}

h1{
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    margin-top: 200px;
    color: #ADC4CE;
    margin-bottom: 60px;
}

form{
   display: flex;
   justify-content: center;
   margin-bottom: 50px;

}
#input-search{
    width: 70%;
    padding: 10px;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    outline: none;
    color: #000507;
    font-weight: 200;
}

#input-search:focus{
    border: 1px solid #FFC6AC;
    box-shadow: 0 0 3px #333;
    outline-offset: 0px;
    outline: none;
   
}
.search-button{
    width: 10%;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px #9f8d8d;
    background-color: #FFC6AC;
    transition: background-color .3s ease-in-out;
    
}

.search-button:focus{
    border: 1px solid #FFC6AC;
    box-shadow: 0 0 3px #333;
    outline-offset: 0px;
    outline: none;
}

.search-button:hover{
    background-color: #E48586;
}
.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.search-result{
    margin-bottom: 60px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    overflow: hidden;
}
.search-result:hover a{
    transform: scale(1.05);
}

.search-result:hover img{
    transform: scale(1.05);
}

.search-result img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.search-result a{
    display: block;
    padding: 10px;
    text-decoration: none;
    margin-top: 40px;
    font-size: 22px;
    color: gray;
    font-weight: 300;
    cursor: pointer;
}
#more{
    width: 12%;
    padding: 7px;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    background-color:#ADC4CE;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    outline: none;
    border: none;
    display: none;
    transition: transform .3s ease-in-out;
}
#more:hover{
    background-color:#95b2be;
}

/* Tablet */

@media screen and (max-width: 768px){
    .search-result{
        width: 45%;
    }
}

@media screen and (max-width: 480px){
    .search-result{
        width: 100%;
    }
    h1{
        font-size: 65px;
        margin-top: 20px;
        padding: 5px;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #input-search{
        width: 80%;
        margin: 0 auto;
    }

    .search-button{
        width: 30%;
        margin: 0 auto;
        margin-top: 15px;
    }
    #more{
        width: 25%;
        
    }
}

